#coelho_relogio{
    float: right;
    width: 30%;
    margin-right: 20%;
}

#titulo_poema{
    float: left;
    margin-left: 20%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #403e3b
}

#poema{
    float: left;
    text-align: center;
}

#autor_poema{
    float: left;
    margin-left: 30%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #403e3b
}